<main>
<div class="container">	
	<h1>About me</h1>
	<div class="col-sm-8 aboutme">
		<p>In this section you will learn who I am and some of the things I've accomplished.</p>

		<p>I grew up in the San Fernando Valley that's located north of downtown Los Angeles, CA. From a young age I've always tinkered with technology. I was that one in the family that could fix the TV, radio, and even set up the Bluetooth for the car. Once out of high school my main focus was music. I was a guitarist for my high-school band Halvmane, which means half-moon in finish. I was so involved with music I eventually got my audio engineering degree from MI in Hollywood, CA. As soon as I was out of school I interned at a studio and learned many techniques that I wasn't taught in school. Eventually the studio trusted me so much that they allowed me to record a few songs for my friend. I had an amazing experience their, but all good things must come to an end. In 2014 I decided to move on. I wasn't happy not making a living doing audio engineering gigs, so I made a career change. That same year I applied for the software engineering degree at ITT Tech in Sylmar, Ca. I knew once I was in that this was the right move for me. I knew a little HTML and CSS, but once I was introduced to JavaScript my whole world changed. Soon after graduation I learned the language Ruby and then Ruby on Rails.</p>

		<h4>Extra stuff not covered</h4>
		<ul>
			<li>Eagle Scout since 2006</li>
			<li>Ranger Scout since 2007</li>
			<li>Spanish is my 2nd language</li>
		</ul>
	</div>
</div>	
</main>