<main class="bgimg">
	<div class="container">
		<div class="welcome-content">
			<h3>Coffee connoisseur and tech junky. I love following new start ups and developing Ruby on Rails web apps.</h3>
			<%= link_to "View my Work", 'projects', :class => "btn" %>
		</div>
	</div>
</main>	