<div class="header">
	<div class="container">
		<h1>Daniel Stahl</h1>
		<div class="nav">
			<ul>
				<li>About me</li>
				<li>Projects</li>
				<li>Resume</li>
				<li>Contact me</li>
			</ul>
		</div>
	</div>
</div>

<div class="jumbotron">
	<div class="container">
		<h3>Hello. I am Daniel Stahl and I build, destroy, and fix websites. Currently I am developing Ruby on Rails web apps and I love it!</h3>
		<a href="">View my projects</a>
	</div>
</div>

<div class="footer">
	<div class="container">
		<ul class="social">
			<li>Github</li>
			<li>Snapchat</li>
			<li>Twitter</li>
		</ul>
		<p>Made with love</p>
	</div>
</div>