<main>
<div class="container">
<h1>Projects</h1>
	<div class="row">
		<div class="col-sm-6 col-md-4">
  		<div class="thumbnail">
    			<%=image_tag("clover.png", alt: "Clover Podcast")%>
    			<div class="caption">
      			<h3>Clover Podcast</h3>
      			<p>Discover your new favorite podcast, or create your own.</p>
      			<a href="https://cloverpodcast.herokuapp.com/" target="_blank" class="btn btn-default" role="button">Visit</a>
    			</div>
  		</div>
    </div>
	</div>
</div>  
</main>