/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.bgimg {
	background: url("https://static.pexels.com/photos/97260/pexels-photo-97260.jpeg") no-repeat center center;
    background-size: cover;
}

/********** NAV MENU **********/

nav {
	background-color: #fff;
}

nav .brand-logo, nav a {
	color: #3b3b3b;
}

nav ul a {
	color: #3b3b3b;
}

nav ul a:hover {
	background-color: transparent;
	border-bottom: 2px #ff6600 solid;
}

/********** WELCOME PAGE **********/
.welcome-content {
	margin-top: 22rem;
	color: #ff6600;
}

.btn, .btn-large {
	background-color: #ff6600;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.welcome-content {
		margin-top: 15rem;
	}

	.welcome-content h3 {
		font-size: 2rem;
	}
}

/********** CONTACT PAGE **********/
.hidden {
	display: none;
}

/********** FOOTER **********/
footer.page-footer {
	margin-top: 0px;
	padding-top: 0px;
	background-color: transparent;
	color: #3b3b3b;
	text-align: center;
}


/*#3b3b3b : #d56318*/